package templates

templ Index() {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>LyricsFluencer</title>
			<link href="/css/output.css" rel="stylesheet"/>
			<script src="https://unpkg.com/htmx.org@1.9.8"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
		</head>
		<body>
            <h1 class="text-yellow-500 my-8">Hello World !</h1>
		</body>
	</html>
}
