@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    color: black;
}
input {
    color: black
}
.text-red {
    color: rgb(0, 0, 0)
}
.text-blue {
    color:rgb(148, 148, 148)
}
.prewrap {
    white-space: pre-wrap;
}